rdkit-pypi==2022.9.3: preprocessing, deep_learning, machine_learning, test
smilespe==0.0.3: preprocessing, deep_learning, machine_learning, test
seaborn==0.12.0: preprocessing, deep_learning, machine_learning, test
joblib==1.1.1: preprocessing, deep_learning, machine_learning, test
pillow==8.4.0: preprocessing, deep_learning, machine_learning, test
h5py==3.7.0: preprocessing, deep_learning, machine_learning, test
cached_property==1.5.2: preprocessing, deep_learning, machine_learning, test
numpy==1.23.5: preprocessing, deep_learning, machine_learning, test
dill==0.3.6: preprocessing, deep_learning, machine_learning, test
shap==0.41.0: deep_learning, machine_learning
gensim==4.2.0: preprocessing
imblearn: preprocessing
umap-learn==0.5.1: machine_learning
kneed==0.8.2: machine_learning
kaleido==0.2.1: machine_learning
plotly==5.13.1: machine_learning
chembl_structure_pipeline==1.1.0: preprocessing
torch==2.0.0: deep_learning
dgl==0.9.1: deep_learning
dgllife==0.3.2: deep_learning
deepchem==2.7.1: deep_learning
tensorflow==2.12.0: deep_learning
boruta==0.3: preprocessing
scikit-learn==1.2.0: machine_learning, deep_learning
scikit-multilearn==0.2.0: machine_learning, deep_learning
pytest>=7.1.1: test
pytest-cov>=3.0.0: test
mypy>=0.942: test
flake8>=4.0.1: test
tox>=3.25.0: test
