rdkit==2023.9.1
smilespe==0.0.3
seaborn==0.12.0
torch==2.1.2
dgl<=2.0.0
joblib==1.1.1
pillow==8.4.0
h5py==3.7.0
deepchem==2.7.1
shap==0.44.0
gensim==4.2.0
# mol2vec @ git+https://github.com/samoturk/mol2vec#egg=mol2vec
boruta==0.3
tensorflow==2.14.0
chembl_structure_pipeline==1.1.0
scikit-learn==1.2.0
imblearn
umap-learn==0.5.1
kneed==0.8.2
kaleido==0.2.1
plotly==5.13.1
cached_property==1.5.2
numpy==1.23.5
dgllife==0.3.2
dill==0.3.6
optuna==3.1.1
tensorflow-probability==0.22.1
torch_geometric==2.3.1
scikit-multilearn==0.2.0
scikeras==0.12.0
pydantic
IPython
